# Ancine projet supabase
# NEXT_PUBLIC_SUPABASE_URL="https://zxinwkdazknprjiofkcj.supabase.co"
# NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_L9S1c6yqlPMzQXQfr0ro8g_cxBXGfLH"
# SUPABASE_SERVICE_ROLE_KEY="sb_secret_JhbavywVCQRdMggVW5cNvA_ePSCo2wY"
# EMAIL_PROVIDER_API_KEY=
# SUPABASE_DB_PASSWORD="wRi7RcTMGFj6U761"

#supabase connection
# email : parcel-area-sage@duck.com
# mdp : Short2000#

# Projet Supabase staging
NEXT_PUBLIC_SUPABASE_URL="https://dzsfqrxsjbfpmyhknvrb.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6c2ZxcnhzamJmcG15aGtudnJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NzAzMDEsImV4cCI6MjEwNDU0NjMwMX0.-WTQih-k6csooMOoq4cTap9ZQFHyuhCR4jRt3O7gKTU"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6c2ZxcnhzamJmcG15aGtudnJiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODk3MDMwMSwiZXhwIjoyMTA0NTQ2MzAxfQ.6bkgyZJz3dN62FmfHcIgPjanZpa3tCi7x_Bw5tqIdNk"
SUPABASE_DB_PASSWORD="AJ5RQRqaPPq8MEve"
EMAIL_PROVIDER_API_KEY=<secret-du-fournisseur>
EMAIL_FROM=<adresse-expéditeur-validée>
EMAIL_TO=<adresse-de-recette>


# CONTACT_RATE_MAX_15MIN=500
# CONTACT_RATE_MAX_1H=2000
